body {
    background-color: #D6E1F0;
}
.container-qr {
    align-items: center;
    padding-bottom: 5px;
    justify-content: center;
    margin: 5% 39%;
    width: 330px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0px 0px 5px 1px #ffffff; */
}

.img-qr {
    margin-top: 5%;
    border: none;
    border-radius: 15px;
}

.h1-qr {
    margin: 15px 40px;
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Arial', sans-serif;
}


.p-qr {
    margin: 15px 40px;
    color: #737373;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}